.AddCompanyBar {
    background-color:#595a5a;
    border-bottom: 1px solid #afafaf;
    
}

.NavBar.Text {
    color: #fafafa;
}

.NavLink {
    padding: 2px;
    color: #fafafa;
    font-size: 0.9em;
}

a:hover,
a:hover i {
    color: #fde661;
    transition: color ease-in-out 0.3s;
}

.Active i {
    color: #fde661;
}

.Bold {
    font-weight: bold;
    color:#d69303;
}

.Bold:hover {
    color:#679cb1;
}

.Link {
    color: #fafafa;
}

.Link:hover {
    color: #fafafa;
}