.Frame {
    background-color: #e4e3e4;
}
    
.BorderProfile {
    border: 3px solid #195829;
}
    
.BorderEndorse {
    border: 3px solid #d69303;
}

.Name {
    color: #195829;
    font-weight: bold;
    font-size: 1.2em;
}

.Logo {
    height: auto;
    width: 75px;
    margin-bottom: 5px;
}

.ListItem {
    background-color: #fafafa;
    margin: 15px 5px;
    padding: 5px;
    list-style-type: none;
}

.Owner {
    font-weight: bold;
    color: #195829;
    margin-right: 8px;
}
      
.Date {
    font-weight: lighter;
    color: #c1c1c5;
}