.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #d69303 !important;
  }
  
  .Button:active {
    background-color: #d69303 !important;
  }
  
  .Button:focus {
    background-color: #d69303;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Orange,
  .OrangeOutline:hover,
  .Bright:hover {
    background-color: #d69303;
    color: #ffffff;
  }
  
  .GreenOutline,
  .Green:hover {
    /* border: 1px solid #2142b2; */
    background-color: #67fab1;
    color: #1d1c1a;
  }
  
  .Green,
  .GreenOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #286d1f;
    color: #ffffff;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: #fceea2;
    color: #1d1c1a;
  }
  
  .Bright {
    background-color: #fceea2;
    color: #d69303;
  }