.Owner {
    font-weight: bold;
    color: #195829;
    margin-right: 8px;
}
      
.Date {
    font-weight: lighter;
    color: #c1c1c5;
}

.Reported i {
    color:#c55c1e;
    cursor: pointer;
}

.NotReported i {
    color: grey;
    cursor: pointer;
}