.Form {
        border: none;
        border-bottom: 2px #679cb1 solid;
}
      
.Button {
        border: 1px solid #50374d;
        background-color: #e4dce3;
        color: #211324;
        font-size: 0.9em;
        font-weight: 500;
        border-radius: 100px;
        padding: 4px 10px;
        min-width: 75px;
        margin: 5px;
}
      
.Button:hover {
        cursor: pointer;
        background-color: #50374d;
        color: #fff;
}