.Row {
    height: calc(100vh - 81px);
}

.Container {
    min-height: 343px;
    text-align: center;
  }

.Input {
    background: #f8fffc;
    border: 1px solid #b7ecd2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    color: #195829;
    text-align: center;
    font-weight: light;
    font-size: 0.9em;
}

.Postcode {
    text-transform: uppercase;
}

.Phone {
    font-size: 0.9em;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
    margin-top: 15px;
    /* margin-bottom: 0px; */
}

.Field {
    color: #195829;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: light;
    font-size: 0.9em;
    margin-top: 3px;
}

.Logo {
    border: 1px solid #b7ecd2;
    border-radius: 8px;
    background: #f8fffc;
}

.Rule {
    border-color: #d69303;
    width: 150px;
    padding: 2px;
    margin-top: 0;
}

/* Chrome, Safari, Edge, Opera */
*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}