.Main {
    background-color: #fafafa;
    border-radius: 10px;
}

.Link {
    color: grey;
}

.Link i {
    color:#679cb1;
    font-size: 1.2em;
}

.Link:hover {
    color:grey;
}

.Bold {
    font-weight: bold;
    color:#d69303;
}

.Bold:hover {
    color:#679cb1;
}

.Credbtn {
    border: 1px solid #2b1f30;
    background-color: #e0c2ee;
    color: #1d1c1a;
}

.Credbtn:hover {
    border: 1px solid #e2a6fd;
    background-color: #2b1f30;
    color: #fff;
}

.Credbtn:active {
    background-color: #2b1f30;
}

.Subheader {
    font-style: normal;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
    padding: 0px, 0px;
    margin: 15px 2px 8px 2px;
}