.Main {
    background-color: #fafafa;
    border-radius: 10px;
}

.Link {
    color: grey;
}

.Link i {
    color:#679cb1;
    font-size: 1.2em;
}

.Link:hover {
    color:grey;
}

.Bold {
    font-weight: bold;
    color:#d69303;
}

.Bold:hover {
    color:#679cb1;
}