.Company {
    background-color: #fafafa;
    border: none;
    margin-bottom: 16px;
    text-align: center;
}
  
.Company figure,
  h5 {
    margin: 0 0;
}

.Logo {
    max-width:275px;
    height: auto;
    align-self: flex-start;
    margin-bottom: 10px;
}

.Endorse {
    margin-left: auto;
    font-size: 0.9em;
}

.Endorse i {
    font-size: 1.5em;
    color: #d69303;
}

.Remove i {
    color: #195829;
}

.Header {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 700;
    font-size: 1.8em;
    text-align: center;
    color: #195829;
    margin-top: 15px;
    text-align: center;
}

.Rule {
    border-color: #d69303;
    width: 150px;
    padding: 2px;
    margin-top: 0;
}

.Comment i {
    color: #679cb1;
    font-size:1.3em;
}

.Link,
.Link i {
    color: grey;
}

.Link:hover,
.Link i:hover {
    color:grey;
}

.Bold {
    font-weight: bold;
    color:#d69303;
}

.Bold:hover {
    color:#679cb1;
}