.Company {
    background-color: #fafafa;
    border: none;
    margin-bottom: 16px;
    text-align: center;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
}

.Contact {
    background-color: #dfdfdf;
}

.Card {
    border: none;
    font-size: 0.9em;
    background-color: #dfdfdf;
}

.Postcode {
    text-transform: uppercase;
}

.Address {
    text-transform: capitalize;
}

.Address i {
    color: #679cb1;
    font-size:1.3em;
}

.Phone,
.Website {
    padding-top: 5px;
    padding-left: 0;
    margin-bottom: 2px;
}

.Website i {
    cursor: pointer;
}