.Row {
    height: calc(100vh - 81px);
}

.Container {
    min-height: 343px;
  }

.Field {
    border: 1px solid #d69303;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
}

.Input {
    border: 1px solid #b7ecd2;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-weight: light;
    font-size: 0.9em;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 19px; */
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
}

.ListTitle {
    font-size: 0.8em;
    color: #195829;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}