.Card {
    border: none;
}

.List {
    border: none;
    max-width: 250px;
    background-color: #d0eee3;
    border-radius: 50px;
}

.List i {
    color: #195829;
}

.ListTitle {
    font-size: 0.9em;
    color: #195829;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}

.ListText {
    text-align: left;
    padding: 0;
    margin: 0;
}

.Card i {
    color: green
}

.Rule {
    border-color: #d69303;
    width: 150px;
    padding: 2px;
    margin-top: 0;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
}