.Frame {
    background-color: #e4e3e4;
}

.Company {
    color: #195829;
    font-size: 1.8em;
    font-weight: Bold;
}

.Endorse {
    color: #d69303;
    font-size: 1.8em;
    font-weight: Bold;
}

.BorderCompany {
    border: 3px solid #195829;
}

.BorderEndorse {
    border: 3px solid #d69303;
}

.ProfileImage {
    object-fit: cover;
    max-height: 120px;
    max-width: 120px;
    margin: 4px;
}

.Banner {
    background-color: #eeedee;
    padding-bottom: 10px;
    padding-top: 0;
    border-radius: 8px;
}

.Dots i {
    color:#454546;
    margin-top: 10px;
}

.Dots i:hover {
    color:#d69303;
}

.Name {
    font-weight: bold;
    color: #7e4aa1;
    font-size: 1.5em;
}

.Attention {
    border: 2px solid #f35438;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        width: 250px;
        height: 250px;
    }
}