.App {
    font-family: "DM Sans", sans-serif;
    color: #2b2b2b;
    background-color: #fafafa;
    min-height: 100vh;
}

.Main {
    padding-top: 15px;
}

.bg {
    background-image: url(./assets/bgimage.webp);
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.Content {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 8px;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}
  
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}
  
a:hover i {
    color: #679cb1;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #cfced3;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    transition: color ease-in-out 0.3s;
    color: #d69303;
}

.Toast {
    width: 400px;
    font-size: 16px;
    padding: 20px;
}

figure {
    text-align: center;
    display: inline-block;
}

.Rule {
    border-color: #d69303;
    width: 150px;
    padding: 2px;
    margin-top: 0;
}

.Subheader {
    font-style: normal;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #195829;
    padding: 0px, 0px;
    margin: 15px 2px 8px 2px;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #888;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
