.App {
    font-family: "DM Sans", sans-serif;
    color: #2b2b2b;
    background-color: #fafafa;
    min-height: 100vh;
}

.Main {
    padding-top: 15px;
}

.bg {
    background-image: url(./assets/bgimage.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

.Content {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 2px;
  }

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}
  
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}
  
a:hover i {
    color: #d69303;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #cfced3;
    /* font-size: 1.2rem; */
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #d69303;
}

figure {
    text-align: center;
    display: inline-block;
}

.Rule {
    border-color: #d69303;
    width: 150px;
    padding: 2px;
    margin-top: 0;
}


/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #888;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
